<div class="nested-fields well">
  <h3>組件</h3>
  <%= f.input :name, label: false, placeholder: '請填寫組件名稱' %>
  <%= f.input :quantity, label: false, placeholder: '數量' %>
  <%= link_to_remove_association '移除', f, class:'btn btn-danger btn-xs' %>
</div>
