<p id="notice"><%= notice %></p>

<h1>商品列表</h1>
<%= link_to '新增商品', new_machine_path, class:'btn btn-success' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= link_to machine.name, edit_machine_path(machine) %></td>
        <td><%= link_to '刪除', machine, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
